* {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

.contact-section {
    background-image: url("../images/contact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* cursor: none; */
}

Link {
    font-style: italic;
    text-decoration: none;
    font-size: inherit;
}

.siteHeader {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
}

.siteHeader_title {
    font-size: 1.25em;
    padding: 1em;
}

.siteHeader_menuBtn .shape {
    position: relative;
    width: 30px;
    height: 12px;
}

.siteHeader_menuBtn .line {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: currentColor;
}

.siteHeader_menuBtn .line-top {
    top: 0;
    width: 100%;
}

.siteHeader_menuBtn .line-center {
    top: calc(50% - 1px);
    width: 75%;
}

.siteHeader_menuBtn .line-bottom {
    bottom: 0;
    width: 50%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

h1 {
    font-style: italic;
    font-weight: 700;
    padding: 1em;
    /* color: white; */

}

h2 {

}

h3 {

}


.title {
    align-items: left;
    height: auto;
    width: 100%;
}

.info-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    list-style-type: none;
    height: auto;
    width: 100%;
    margin-top: 40px;
    margin-right: 20px;
    
}

.item {
    text-align: right;
    font-weight: 700;
    /* color: white; */
}


/* .item:hover ~ #cursor{
    font-style: italic;
    font-weight: 700;
} */


@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    h1 {
        font-size: 2em;
    }

    .item{
        font-size: 1.25em;
    }
}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    h1 {
        font-size: 2.2em;

    }
    .item{
        font-size: 2em;

    }
}
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    h1 {
        font-size: 2.8em;

    }
    .item{
        font-size: 2em;

    }
}
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    /* body {
        background-image: url('./resources/images/home.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    } */
    h1 {
        font-size: 6em;

    }
    .item{
        font-size: 3em;

    } 
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    body {
        
    }
    h1 {
        font-size: 7em;
    }
    .item{
        font-size: 3em;

    }
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    body {
    }
    h1 {
        font-size: 7em;

    }
    .item{
        font-size: 3em;

    }
}